<li>
  <li id="<%= quote.id %>">
  <%= link_to gravatar_for(quote.user), quote.user %>
  <span class="user">
  	<%= link_to quote.owner_name, quote.user %>
  </span>	
  <span class="content"><%= quote.quote %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(quote.created_at) %> ago.
  </span>
</li>